body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: rgb(32, 18, 119);
}

textarea {
  background: transparent;
  text-align: center;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  font-size: large;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #ff0000;
  color: white;
}

.present {
  background-color: #61e7ff;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

div#dateTime {
  border-style: solid;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(255, 20, 20);
}

header{
  background-color: #293fae;
}